html, body, #app, #app>div {
  height: 100%;
}

:root {
  --gradient: linear-gradient(to left top, orange 10%, #FF512F 90%) !important;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding-top: 8rem !important;
  text-align: center;
  background-color: #F0EEED;
}
.container_welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
  width: auto;
  height: auto;
  background-color: #F0EEED;
}
.container_welcome > .container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: .5rem;
  height: 25.4rem;
  margin: 2rem;
}
.container_welcome > img {
  width: 100%;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px .1px grey;
}
.container_welcome > .container > p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 2.9rem;
  font-weight: bold;
}
.container_welcome > .container > .welcometext {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 2rem;
  font-weight: lighter;
}
.container_welcome > .container > .welcomelink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10rem;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
.container_welcome > .container > .welcomelink > a:hover {
  text-decoration: none;
  color: black !important;
}
.container_welcome > .container > .welcomelink > a:visited {
  text-decoration: none;
  color: black !important;
}
#welcometext {
  font-size: 1.5rem;
  font-weight: bold !important;
}
.navbar {
  color: black;
  background: linear-gradient(to right,  orange 10%, #FF512F 90%);
  display: flex;
  justify-content: space-evenly;
}
.navbar-logo {
  width: 16rem;
}
#navtext {
  font-weight: bold !important;
}
.navbar-brand {
  margin-left: 5rem;
  margin-right: 10rem !important;
}
.navbar-nav {
  align-items: center;
}
#navtext {
  font-size: x-large;
  color: black;
}
#navtext:hover {
  color: #F0EEED;
}
.navbar-nav > li > .dropdown-menu { background-color: #ff7919; font-weight: bold; font-size: large; }

.dropdown a:hover {
  color: #F0EEED;
}
.dropdown-menu > .dropdown-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.navbar-nav > li > .dropdown-menu a:visited {     background-color: #F0EEED; color: black;  }

.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
}
.navbar .navbar-nav .nav-link {
  font-weight: bold;
  font-size: x-large;
}
.cart_link {
  margin-left: 14rem;
}
.cart_link:visited {
  color: black !important;
}
.cart_link:hover {
  color: #F0EEED !important;
}
.cart_container i {
  font-size: 3.1rem;
  padding-bottom: 3rem;
}
.cart_container p {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.cart_container i:visited {
  color: black !important;
}
.card {
  font-family: 'Montserrat', sans-serif;
  width: 18rem;
  height: 100% !important;
  padding: 1rem;
  background: #222;
  color: black;
  box-shadow: 2px 2px 2px .1px grey;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  height: auto;
  width: 100% !important;
  padding-bottom: .1rem !important;
  padding-top: .1rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-title {
  font-weight: bold;
}
.card_button {
  color: black !important;
  border: 5px solid;
  background: var(--gradient);
  text-decoration: none;
  border: .1px solid none !important; 
  box-shadow: black 1px 0 1px;
}
.card_button:hover {
  background: #F0EEED !important;
  color: black !important;
}
.itemlist_container {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  background-color: #F0EEED;
}
.item_list {
  display: grid;
  height: auto;
  width: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 40rem;
  padding-right: 5rem;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: .1rem;
  background-color: #F0EEED;
  justify-items: center;
}
.sidebar {
  margin: 0;
  padding-top: 3rem;
  width: 30rem;
  background-color: #F0EEED;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.brandtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 2.7rem;
  padding-bottom: .5rem;
}
.brandtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-decoration: none !important;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.brandimage {
  box-shadow: 2px 2px 2px .1px grey
}
.brandpanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
  border-radius: .6rem;
  padding-bottom: 2rem;
}
.item_detail {
  display: flex;
  flex-direction: row;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 12rem;
  padding-right: 12rem;
  background-color: #F0EEED;
  align-items: center;
  justify-content: center;
}
.detail_image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: auto;
}
.detail_image {
  width: 25rem !important;
  height: 25rem !important;
}
.detailtext{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
  padding-top: 3rem;
}
.review_text_container {
  font-family: 'Montserrat', sans-serif;
  border-radius: .3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.review_container {
  border-radius: .3rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-left: 0;
  padding:0 ;
  background-color: white;
  box-shadow: 2px 2px 2px .1px grey;
}
.lorem {
  text-align: justify;
  font-size: small;
}
.item_count {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.count_buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.checkouttext{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
}
.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  background-color: #F0EEED;
}
.itemCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  height: auto;
  padding: .8rem;
  text-justify: auto;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px .1px grey;
}
.itemCart img {
  padding: 1rem;
  height: 12rem;
}
.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.2rem;
  width: 25rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px .1px grey;
}
.checkoutForm > form {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: auto;
}
.checkoutForm >h3 {
  text-decoration: underline;
}
.inputForm {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  gap: 2rem;
  width: auto;
}
.emptyCart{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: x-large;
  padding-top: 5rem;
}
.bi-emoji-frown {
  font-size: 8rem;
}
.loadercontainer{
  margin: 5rem;
  padding: 5rem;
}
.loadertext{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 2rem
}

