html, body, #app, #app>div {
  height: 100%;
}

:root {
  --gradient: linear-gradient(to left top, orange 10%, #FF512F 90%) !important;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding-top: 0 !important;
  text-align: center;
  background-color: #F0EEED;
}
.container_welcome {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
  height: 100%;
  background-color: #F0EEED;
}
.navbar {
  color: black;
  background: linear-gradient(to right,  orange 10%, #FF512F 90%);
  display: flex;
  justify-content: space-evenly;
}
#navtext {
  font-weight: bold !important;
}
.navbar-brand {
  margin-left: 8rem;
  margin-right: 10rem !important;
}
.navbar-nav {
  align-items: center;
}
#navtext {
  font-size: x-large;
  color: black;
}
#navtext:hover {
  color: #f94724;
}
.navbar-nav > li > .dropdown-menu { background-color: #ff7919; font-weight: bold; font-size: large; }

.dropdown a:hover {
  color: #f94724;
}
.navbar-nav > li > .dropdown-menu a:visited {     background-color: #f94724; color: black;  }

.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
}
.navbar .navbar-nav .nav-link {
  font-weight: bold;
  font-size: x-large;
}
.cart_link {
  margin-left: 20rem;
}
.cart_link:visited {
  color: black !important;
}
.cart_link:hover {
  color: #f93224 !important;
}
.cart_container i {
  font-size: 3.1rem;
  padding-bottom: 3rem;
}
.cart_container p {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.card {
  width: 18rem;
  height: 100% !important;
  padding: 1rem;
  background: #222;
  
  color: black;
  box-shadow: 2px 2px 2px .1px grey;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  height: auto;
  width: 100% !important;
  padding-bottom: .1rem !important;
  padding-top: .1rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--gradient) !important;
}
.card-title {
  font-weight: bold;
}
.card_button {
  color: white;
  border: 5px solid;
  border-image-slice: 1;
  font-weight: bold;
  background: var(--gradient) !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
  background: var(--gradient) !important;
  -webkit-text-fill-color: black !important;
  border: .1px solid none !important; 
  box-shadow: black 1px 0 10px;
}

.item_list {
  display: grid;
  height: auto;
  width: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 25rem;
  padding-right: 25rem;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: .1rem;
  background-color: #F0EEED;
  justify-items: center;
}
.item_detail {
  display: grid;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  background-color: #F0EEED;
  justify-items: center;
}
.item_detail > .card {
  align-items: center;
  width: auto;
  height: auto;
}
.item_detail > .card > .card-img-top {
  width: 80%;
  height: 80%;
}
.review_container {
  border-radius: .3rem;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem;
  background-color: orange;
}
.lorem {
  text-align: justify;
}
.item_count {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.count_buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cart {
  display: flex;
  flex-direction: column;
  height: auto;
}
.itemCart {
  display: flex;
  border-bottom: 1px solid gray;
  max-width: 500px;
  margin: 1rem auto;
}
.itemCart img {
  width: 200px;
  margin-right: 1rem;
}


